body {
  background: linear-gradient(180deg, #020617, #020617, #0f172a);
  color: white;
}
.hero {
  text-align: center;
  padding: 40px 0;
  color: white;
}

.hero h1 {
  font-size: 40px;
  font-weight: bold;
}

.hero p {
  color: gray;
}


.search-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  
}

.search-box {
  display: flex;
  background: #020617;
  border-radius: 30px;
  padding: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.search-box input {
  background: transparent;
  border: none;
  color: white;
  padding: 10px 20px;
  width: 400px;
  outline: none;
}

.search-btn {
  background: #ef4444;
  border: none;
  margin-left: 10px;
  padding: 10px 25px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.search-btn:hover {
  background: #dc2626;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  margin-top: 20px;
  gap: 35px;
  padding: 20px 50px;
}

