.movie-card {
  background:transparent;
  height: 500px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.movie-card:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.movie-poster img {
  transition: 0.3s;
}

.movie-poster {
  position: relative;
}


.movie-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
}

.favorite-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
.favorite-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.favorite-btn.active {
  color: #ff4757;
}

.movie-poster {
  width: 100%;
  height: 80%;
  
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.movie-info {
  padding: 10px;
  color: white;
}


