.navbar {
  background: #020617; /* dark modern */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px; /* better than height */
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
.nav2{
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

/* Links */
.navbar-links a {
  color: white;
  text-decoration: none;
  font-size
}